<nav class="navbar navbar-expand-md bg-primary navbar-light px-4">
    <a class="navbar-brand">Droom ITMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav h6">
            <li class="nav-item">
                <a class="nav-link {{dashboard}}" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{profile}}" href="/profile">Profile</a>
            </li>
        </ul>
        <a id="logoutbtn" class="btn btn-outline-light btn-sm ml-auto" href="/logout"><span class="material-icons">logout</span> logout</a>
    </div>
</nav>