{{> navbar }}

<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <h1 class="display-4">Welcome to Droom ITMS!</h1>
    </div>
  </div>
  <div class="row tabs px-0">
    <div class="col-md-2">
      <a class="tab" href="/dashboard/users">Users</a>
    </div>
    <div class="col-md-2">
      <a class="tab" href="/dashboard/tests">Tests</a>
    </div>
    <div class="col-md-2">
      <a class="tab" href="/dashboard/questions">Questions</a>
    </div>
    <div class="col-md-2">
      <a class="tab" href="/dashboard/departments">Departments</a>
    </div>
    <div class="col-md-2">
      <a class="tab" href="/dashboard/designations">Designations</a>
    </div>
    <div class="col-md-2">
      <a class="tab" href="/dashboard/results">Results</a>
    </div>
  </div>
</div>

      