{{> navbar}}
{{> dashnav}}
<div class="container-fluid px-4">
  <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
          <h1 class="display-4">Tests</h1>
      </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="card bg-primary text-center shadow p-1 mb-5">
        <div class="card-body">
          <h4>Active tests</h4>
          <h2 id="active_tests">-</h2>
        </div>      
      </div>
    </div>
    <div class="col-md-2">
      <div class="card bg-primary text-center shadow p-1 mb-5">
        <div class="card-body">
          <h4>Inactive tests</h4>
          <h2 id="inactive_tests">-</h2>
        </div>      
      </div>
    </div> 
    <div class="col-md-2">
      <div class="card bg-primary text-center shadow p-1 mb-5">
        <div class="card-body">
          <h4>Deleted tests</h4>
          <h2 id="deleted_tests">-</h2>
        </div>      
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div id="assignTestBatchbtn" class="card bg-success text-center shadow p-1 mb-2">
        <div class="card-body">
          <h5>Batch Assign Test</h5>
          <span class="material-icons mt-2" style="font-size: 36px;">people_alt</span>
        </div>
      </div>      
    </div>
  </div>
  <div class="table-responsive-md shadow-sm mt-5 mb-2 p-1">    
    <label for="pagesize" >Page size:</label>
    <select name="size" id="pagesize" onchange="changePageSize()">
      <option value="15">15</option>
      <option value="20">20</option>
      <option value="25">25</option>
      <option value="30">30</option>
    </select>       
    <a class="btn btn-success mx-3" href="/dashboard/tests/create"><span class="material-icons pb-1">add</span> Create test</a>
    <div class="float-right">
      <label for="orderby"  >Order by:</label>
      <select name="size" id="orderby" class="p-1 ml-2" onchange="orderBy()">
        <option value="createdAt">created on</option>
        <option value="title">title</option>
        <option value="department">Department</option>
        <option value="designation">Designation</option>
        <option value="status">status</option>
      </select>
    </div> 
    <table class="table table-striped table-bordered table-hover text-center mt-2" width="100%">
      <thead >
        <tr class="justify-content-center  align-top">
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Created by</th>
            <th scope="col">Department</th>
            <th scope="col">Designation</th>
            <th scope="col">Actions</th>
        </tr>
      </thead >
      <tbody id="data">
      </tbody>
    </table>
    <div id="nosearchresult" class="alert alert-danger mx-1 my-2">
    </div>
    <p id="pagesindicator" class="py-2">-/-</p>
  </div>
  <div style="width: 100%;">
    <button id="previousbtn" class="btn pagelink btn-outline-dark float-left px-2 mt-1 mb-3">Previous</button>
    <button id="nextbtn" class="btn pagelink btn-outline-dark float-right px-2 mt-1 mb-3">Next</button>
  </div>
</div>
<script src="/js/test.js"></script>
